# Git files
.git
.gitignore

# Build artifacts
server/*.o
server/webserver

# IDE files
.vscode
.idea

# Documentation
*.md
!server/README.md

# Diagrams
*.excalidraw
*.svg
diagrams/

# Other
to_auggie/

